/* fonts
@include font-face("MiniSSF Bold", "../fonts/MINI_Sans_Serif_Bold/MINI_Sans_Serif_Bold"); 
*/


// Colors
$grey: #dadada;
$dark-grey: #808080;
$form-grey: #979797;
$black: #000;
$blue: #0085ac;
$blue-hover: #4da9c5;
$blue-highlight: rgba(0, 133, 172, 0.3);
$white: #fff;
$white-nav-hover: rgba(255, 255, 255, .2);
$filterby-nav-hover: rgba(0, 0, 0, .08);

$red: #d60000;

// Fonts families
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

// Fonts sizes
$title-size-45: 4.5rem;
$title-size-34: 3.4rem;
$title-size-28: 2.8rem;
$title-size-26: 2.6rem;
$title-size-22: 2.2rem;

$text-size-38: 3.8rem;
$text-size-30: 3rem;
$text-size-24: 2.4rem;
$text-size-22: 2.2rem;
$text-size-21: 2.1rem;
$text-size-20: 2rem;
$text-size-18: 1.8rem;
$text-size-16: 1.6rem;
$text-size-15: 1.5rem;
$text-size-14: 1.4rem;
$text-size-13: 1.3rem;
$text-size-12: 1.2rem;
$text-size-10: 1rem;