{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form {{ attributes.addClass('gs-searchBox') }}>

  <fieldset >

  
    {% if user.hasPermission('administer') %}
        <a class="gs-export" href="/admin/config/services/content-export" onclick="window.open(this.href);return false">Export</a>
        <a class="gs-export" href="/admin/config/content/contentimport" onclick="window.open(this.href);return false">Import</a>
    
    {% else %}
        <a class="gs-export" style="background:#B2B3B6;cursor:not-allowed;">Export</a>
        <a class="gs-export" style="background:#B2B3B6;cursor:not-allowed;">Import</a>
    
    {% endif %}

    {{ children }}
        
  </fieldset>
  
</form>
