fieldset{
    border: 0.2rem solid #c1c1c1;
    padding: 3rem;
    margin: 2rem auto 0 auto;
    width: 80rem;
    max-width: 100rem; 
    background: linear-gradient(to right bottom, white , lightslategrey );
}

.gs-form{
    grid-template-columns: 1fr minmax(auto, 30em) 1fr;
    min-height: 100vh; 
    place-items: center;
    justify-items: stretch;
    grid-column: 2;
    
    &_group{
        .label{
            font-size: $text-size-14;
            text-align: right;
            display: block;
            padding: 0.5em 1.5em 0.5em 0;
            font-weight: bold;
            font-family: $sans-serif;
        }
        .form-control{
                align-items: left;
                border: 1px solid #9c9c9c;
                width: 100%;
                padding: 0.4rem;
                margin-bottom: 0.5rem;
             
        }
    }      
    .submit{
        padding: 0.4rem;
        font-size: $text-size-20;
        width: 16rem;
        height: 4.4rem;
        float: right;
    }
    .submit:hover{ background: green; border: green;   } 

} 

