

.gs-form{
    
    min-height: 100vh; 
    place-items: center;
    justify-items: stretch;
   
    &_fieldset{
        border: 0.2rem solid #c1c1c1;
        padding: 3rem;
        margin: 2rem auto 0 auto;
        width: 90rem;
        max-width: 100rem; 
        background: linear-gradient(to right bottom, white , lightslategrey );
    }

    &_group{
        .label{
            font-size: $text-size-14;
            text-align: right;
            display: block;
            padding: 0.5em 1.5em 0.5em 0;
            font-weight: bold;
            font-family: $sans-serif;
        }
        .form-control{
                align-items: left;
                border: 1px solid #9c9c9c;
                width: 100%;
                padding: 0.4rem;
                margin-bottom: 0.5rem;
                font-size: medium;
                color: black;
                font-weight: bold;
             
        }
    }      
    .submit{
        padding: 0.4rem;
        font-size: 2rem;
        width: 18rem;
        height: 5.4rem;
        margin: 2rem 2rem 0 auto;
    
    }
    .submit:hover{ background: green; border: green;   } 

} 
 
.gs-Loginform {
 
    min-height: 100vh; 
    place-items: center;
    justify-items: stretch;

    &_fieldset{

        border: 0.2rem solid #c1c1c1;
        padding: 3rem;
        margin: 2rem auto 0 auto;
        width: 40rem;
        height: 30rem;
        max-width: 100rem;
        background: linear-gradient(to right bottom, white , lightslategrey );
    }
    .Login{
        background: royalblue;
        border: royalblue;
        border-radius: 35px;
        float: right;
        width: 12rem;
        height: 3.5rem;
        font-size: large;
        font-weight: 600;
        margin-top: 4rem;
        color: blanchedalmond;
        text-shadow: 0 0 0.5em violet, 0 0 0.5em cyan, 0 0 0.5em #fff;
        
    }
}

.gs-Registerform{
    
    place-items: center;
    justify-items: stretch;
   
    &_fieldset{
        border: 0.2rem solid #c1c1c1;
        padding: 3rem;
        margin: 2rem auto 0 auto;
        width: 46rem;
        max-width: 100rem; 
        background: linear-gradient(to right bottom, white , lightslategrey );
    }
    .Login{
        background: royalblue;
        border: royalblue;
        border-radius: 35px;
        float: right;
        width: 12rem;
        height: 3.5rem;
        font-size: large;
        font-weight: 600;
        margin-top: 4rem;
        color: blanchedalmond;
        text-shadow: 0 0 0.5em violet, 0 0 0.5em cyan, 0 0 0.5em #fff;
        
    }
    .summary{
        font-size: 1.3rem;
        font-weight: bold;
        font-family: sans-serif;
    }
}
