.gs-errorMsg{
    &_item{
        color: red;
        font-size: $text-size-15;
        font-family: sans-serif;
        margin-left: 10rem;
    }
}
.gs-StatusMsg{
    &_item{
        color: green;
        font-size: $text-size-15;
        font-family: $sans-serif;
        margin-left: 10rem;
    } 
}