.gs-table{
    margin-top: 3rem;

    .action-view{
        width: 13rem;
    }
    .action-edit{
        display: none;
    }
    .action-delete{
        display: none;
    }
   
 }
 .btn-GoBack{
    float: right;
    width: 15rem;
    height: 4rem;
    font-size: 2.5rem;
}
.table.gs-table th{
    font-weight: bold;
    font-family: $sans-serif;
    font-size: $text-size-20;
    color: midnightblue;   
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6; 
 }

.gs-table tr{
    text-align: -webkit-left;
    height: 6rem;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1.8rem;
    font-family: sans-serif;
 }
 
.table-scroll{
    max-width: 100%;
    overflow: scroll;
}