{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form {{ attributes.addClass('gs-Loginform') }}>

  <fieldset {{ attributes.addClass('gs-Loginform_fieldset') }}>

    <legend {{ title_attributes.addClass('form-legend') }} 
      style="font-weight: bold;">
      
       Are u sure u wanna delete this item ? 
    
    </legend>
    
        {{ children }}
   

  </fieldset>
  
</form>